* {
  margin: 0;
}

.app {
  background-color: #fafafa;
  height: 100vh;
}

.app_header {
  background-color: white;
  padding: 5px;
  border-bottom: 1px solid lightgrey;
  object-fit: contain;
  display: flex;
  justify-content: space-between;
}

.app_headerImage {
  width: 90px;
  object-fit: contain;
}